<nav>
  <div class="nav-wrapper">
    <%= link "Meu Blog", to: Routes.page_path(@conn, :index), class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render BlogWeb.SharedView, "_links.html", assigns %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <%= render BlogWeb.SharedView, "_links.html", assigns %>
</ul>
