<ul class="collection with-header">
  <li class="collection-header">
    <h4>Todos os Posts</h4>
  </li>

  <%= for post <- @posts do %>
  <li class="collection-item">
    <div><%= post.title %>
      <%= link to: Routes.post_path(@conn, :show, post), class: "secondary-content" do %>
      <i class="material-icons blue-text">send</i>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
